<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="
		http://www.springframework.org/schema/beans	
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

   <import resource="applicationContext-sae-ordonnanceur-service.xml" />

   <!-- configuration de ECDE -->

   <bean id="ecdeSource1" class="fr.urssaf.image.sae.ecde.modele.source.EcdeSource">

      <constructor-arg value="ecde.cer69.recouv" />
      <constructor-arg value="base" />
      <constructor-arg value="true" />

   </bean>

   <bean id="ecdeSource2" class="fr.urssaf.image.sae.ecde.modele.source.EcdeSource">

      <constructor-arg value="ecde.cer44.recouv" />
      <constructor-arg value="base" />
      <constructor-arg value="false" />

   </bean>

   <bean id="ecdeSource3" class="fr.urssaf.image.sae.ecde.modele.source.EcdeSource">

      <constructor-arg value="ecde.cer34.recouv" />
      <constructor-arg value="base" />
      <constructor-arg value="true" />

   </bean>

   <bean id="ecdeSources" class="fr.urssaf.image.sae.ecde.modele.source.EcdeSources">
      <property name="sources">
         <array>
            <ref bean="ecdeSource1" />
            <ref bean="ecdeSource2" />
            <ref bean="ecdeSource3" />
         </array>
      </property>
   </bean>

   <!-- configuration de lancement du traitement de capture en masse -->

   <bean id="captureMasseLauncher" factory-bean="serviceMockFactory"
      factory-method="createTraitementLauncherSupport">
      <qualifier value="captureMasseLauncher" />
   </bean>

</beans>