<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="
      http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id="accountService"
      class="org.springframework.jms.remoting.JmsInvokerProxyFactoryBean">
      <property name="serviceInterface"
         value="fr.urssaf.image.commons.jms.spring.remoting.service.AccountService" />
      <property name="connectionFactory" ref="connectionFactory" />
      <property name="queue" ref="queue" />
   </bean>

</beans>