<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="
		http://www.springframework.org/schema/beans	
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context 
      http://www.springframework.org/schema/context/spring-context-2.5.xsd">

   <context:component-scan base-package="fr.urssaf.image.sae.saetraitementsdivers" />

   <bean id="rdbmPropertiesPlacholder"
      class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
      lazy-init="false">
      <property name="location" value="classpath:config.properties" />
   </bean>

   <bean id="beanConfig" class="fr.urssaf.image.sae.saetraitementsdivers.adrntorcnd.modele.BeanConfig">
      <property name="savedFilePath" value="${savedFilePath}" />
      <property name="version" value="${version}" />
      <property name="url" value="${url}" />
      <property name="lifeCycleFilePath" value="${lifeCycleFilePath}" />
   </bean>

</beans>