<configuration scan="true" scanPeriod="30 seconds">
   
   <!-- 
   
   Rappels des niveaux de trace : TRACE, DEBUG, INFO, WARN, ERROR, OFF
   
   
   Tableau de sortie des traces en fonction du niveau de trace demande
   dans l'appel du logger et du niveau de trace actif dans la config
   
   |________________________________________________________________________|
   | Niveau de trace      | Niveau de trace effectif dans la configuration  |
   | utilise dans l'appel |                                                 |
   | du logger            | TRACE | DEBUG | INFO  | WARN  | ERROR | OFF     |
   |________________________________________________________________________|
   | TRACE                |  Oui  |  Non  |  Non  |  Non  |  Non  |  Non    |
   |________________________________________________________________________|
   | DEBUG                |  Oui  |  Oui  |  Non  |  Non  |  Non  |  Non    |
   |________________________________________________________________________|
   | INFO                 |  Oui  |  Oui  |  Oui  |  Oui  |  Non  |  Non    |
   |________________________________________________________________________|
   | WARN                 |  Oui  |  Oui  |  Oui  |  Oui  |  Non  |  Non    |
   |________________________________________________________________________|
   | ERROR                |  Oui  |  Oui  |  Oui  |  Oui  |  Oui  |  Non    |
   |________________________________________________________________________|
   
   -->
   
   
   
   <!--
   <property name="LOGS_FOLDER" value="${catalina.base}/logs" />
   -->
   <property name="LOGS_FOLDER" value="@@LOGS_PATH@@" />
   
   <property name="LOGS_FILENAME_PREFIXE" value="sae_webservices" />
   
   <timestamp key="byDay" datePattern="yyyyMMdd" />
   
   
   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <pattern>%d{yyyy-MM-dd HH:mm:ss.SSSk} %-5level %logger
[%X{log_contexte_uuid}] - %msg%n</pattern>
      </encoder>
   </appender>



   <!--
   L'appender fichier pour les traces de niveaux WARN et ERROR
   -->
   <appender name="log-file"
      class="ch.qos.logback.core.rolling.RollingFileAppender">
      
      <file>${LOGS_FOLDER}/${LOGS_FILENAME_PREFIXE}.log</file>
      
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
         <level>WARN</level>
      </filter>
      
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <fileNamePattern>${LOGS_FOLDER}/${LOGS_FILENAME_PREFIXE}.%d{yyyyMMdd}.log</fileNamePattern>
         <maxHistory>15</maxHistory>
      </rollingPolicy>
      
      <encoder>
         <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger
            [%X{log_contexte_uuid}] - %msg%n</pattern>
      </encoder>
      
   </appender>
   

   <!-- 
   L'appender fichier pour les traces de niveau INFO, DEBUG et TRACE
   -->
   <appender name="debug-file"
      class="ch.qos.logback.core.rolling.RollingFileAppender">
      
      <file>${LOGS_FOLDER}/${LOGS_FILENAME_PREFIXE}-debug.log</file>
      
      <rollingPolicy
         class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
         <fileNamePattern>${LOGS_FOLDER}/${LOGS_FILENAME_PREFIXE}-debug.%i.log</fileNamePattern>
         <maxIndex>10</maxIndex>
      </rollingPolicy>
      
      <triggeringPolicy
         class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
         <maxFileSize>10MB</maxFileSize>
      </triggeringPolicy>
      
      <encoder>
         <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger
            [%X{log_contexte_uuid}] - %msg%n</pattern>
      </encoder>
      
   </appender>
   
   
   
   
   <!-- 
   Exemples d'activation des traces DEBUG pour le SAE
   -->
   
   
   <!-- Pour tout le SAE, ou plus precisement pour le package de plus haut niveau -->
   <!--
   <logger name="fr.urssaf.image.sae" level="DEBUG" additivity="false">
      <appender-ref ref="log-file" />
      <appender-ref ref="debug-file" />
   </logger>
   -->
   
   
   <!-- Pour sae-webservices -->
   <!--
   <logger name="fr.urssaf.image.sae.webservices" level="DEBUG" additivity="false">
      <appender-ref ref="log-file" />
      <appender-ref ref="debug-file" />
   </logger>
   -->
   
   
   <!-- Pour sae-services -->
   <!--
   <logger name="fr.urssaf.image.sae.services" level="DEBUG" additivity="false">
      <appender-ref ref="log-file" />
      <appender-ref ref="debug-file" />
   </logger>
   -->
   
   
   <!-- Pour la couche storage -->
   <!--
   <logger name="fr.urssaf.image.sae.storage" level="DEBUG" additivity="false">
      <appender-ref ref="log-file" />
      <appender-ref ref="debug-file" />
   </logger>
   -->
   
   <!-- Pour sae-ecde -->
   <!--
   <logger name="fr.urssaf.image.sae.ecde" level="DEBUG" additivity="false">
      <appender-ref ref="log-file" />
      <appender-ref ref="debug-file" />
   </logger>
   -->
   
   <!-- Niveau general pour l'application -->
   <root level="WARN">
      <appender-ref ref="log-file" />
      <appender-ref ref="debug-file" />
   </root>
   
   
</configuration>