<?xml version="1.0" encoding="utf-8"?>
<beans default-lazy-init="true"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>
	
	<bean class="org.springframework.orm.hibernate3.LocalSessionFactoryBean"
		id="sessionFactory">

		<property name="dataSource">
			<description>
			bean 'dataSource' configuré dans le fichier applicationContext-dataSources.xml
			</description>
			<ref bean="dataSource" />
		</property>

		<property name="configLocation">
			<description>
			emplacement du fichier de paramétrages d'hibernate
			</description>
			<value>classpath:hibernate.cfg.xml</value>
		</property>

		<property name="mappingLocations">
			<description>
			emplacement des fichiers de mapping des classes persistentes
			</description>
			<value>classpath:mapping/fr/urssaf/image/commons/dao/spring/exemple/modele/*.hbm.xml</value>
		</property>
	</bean>

</beans>
