<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">


	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<value>classpath:jdbc.properties</value>
		</property>
	</bean>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">

		<description>
			JDBC spécifique à la base de données
			le jar doit être
			placé dans le classpath
			Ici on utilise le JDBC MySQL

			ex JDBC
			MySQL:
			com.mysql.jdbc.Driver
			Postgresql : org.postgresql.Driver
			Oracle:
			oracle.jdbc.driver.OracleDriver
		</description>
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>

		<property name="url">
			<description>
				URL de connexion à la base de données

				le format est
				spécifique au JDBC

				ex URL
				MySQL: jdbc:mysql://host:port/database
				Postgresql:
				jdbc:postgresql:name
				Oracle:
				jdbc:oracle:thin:@host:port:sid

			</description>
			<value>${jdbc.url}</value>
		</property>

		<property name="username">
			<description>login de la connexion</description>
			<value>${jdbc.username}</value>
		</property>

		<property name="password">
			<description>mot de passe de la connexion</description>
			<value>${jdbc.password}</value>
		</property>
	</bean>
</beans>
