<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="
		http://www.springframework.org/schema/beans	
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id="processorService"
      class="fr.urssaf.image.commons.spring.batch.service.ServiceMockFactory"
      factory-method="createProcessorService" />

   <bean id="readerService"
      class="fr.urssaf.image.commons.spring.batch.service.ServiceMockFactory"
      factory-method="createReaderService" />

   <bean id="writerService"
      class="fr.urssaf.image.commons.spring.batch.service.ServiceMockFactory"
      factory-method="createWriterService" />

</beans>