.titre1 {
	font-size:18pt;
	text-decoration: underline;
	font-weight: bold;
}

.titre2 {
	font-size:15pt;
	text-decoration: underline;
	font-weight: bold;
}


.titre3 {
   font-size:13pt;
   text-decoration: underline;
   font-weight: bold;
}


.titreTest {
   font-size:15pt;
   font-weight: bold;
}

.lienCas {
	font-size:11pt;
}


.descCasTest {
   color:blue;
   font-weight: bold;
}

