<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id="documentService"
      class="fr.urssaf.image.commons.webservice.exemple.document.service.DocumentServiceImpl" />
   <bean id="rpcEncodedService"
      class="fr.urssaf.image.commons.webservice.exemple.rpc.encoded.service.DocumentServiceImpl" />
   <bean id="rpcLiteralService"
      class="fr.urssaf.image.commons.webservice.exemple.rpc.literal.service.DocumentServiceImpl" />

</beans>