#menu a, #menu a.firstrow {
   	font: bold .75em arial, helvetica, sans-serif;
}

#menu a.firstrow {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

#menu li a {
	color: #EAEAEF;
	text-decoration: none;
}

#menu li a:hover, #menu li a.active {
	color: #051A7D;
}