<configuration scan="true" scanPeriod="30 seconds">
   
   <property
      name="LOGS_FOLDER"
      value="c:/logs/" />
   
   <property
      name="LOGS_FILENAME_PREFIXE"
      value="monAppli" />
   
   <property
      name="PATTERN"
      value="%d{yyyy-MM-dd HH:mm:ss.SSSk} [%X{idCinematique}] %-5level %logger - %msg%n" />
   
   
   <appender
      name="console"
      class="ch.qos.logback.core.ConsoleAppender">
      
      <encoder>
         <pattern>${PATTERN}</pattern>
      </encoder>
      
   </appender>


   <appender
      name="fichier-erreurs"
      class="ch.qos.logback.core.rolling.RollingFileAppender">
      
      <file>${LOGS_FOLDER}/${LOGS_FILENAME_PREFIXE}.log</file>
      
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
         <level>WARN</level>
      </filter>
      
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <fileNamePattern>${LOGS_FOLDER}/${LOGS_FILENAME_PREFIXE}_%d{yyyyMMdd}.log</fileNamePattern>
         <maxHistory>15</maxHistory>
      </rollingPolicy>
      
      <encoder>
         <pattern>${PATTERN}</pattern>
      </encoder>
      
   </appender>
   

   
   <appender
      name="fichier-debug"
      class="ch.qos.logback.core.rolling.RollingFileAppender">
      
      <file>${LOGS_FOLDER}/${LOGS_FILENAME_PREFIXE}_debug.log</file>
      
      <rollingPolicy
         class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
         <fileNamePattern>${LOGS_FOLDER}/${LOGS_FILENAME_PREFIXE}_debug.%i.log</fileNamePattern>
         <maxIndex>10</maxIndex>
      </rollingPolicy>
      
      <triggeringPolicy
         class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
         <maxFileSize>10MB</maxFileSize>
      </triggeringPolicy>
      
      <encoder>
         <pattern>${PATTERN}</pattern>
      </encoder>
      
   </appender>
   
   
   <root level="DEBUG">
      <appender-ref ref="console" />
      <appender-ref ref="fichier-erreurs" />
      <appender-ref ref="fichier-debug" />
   </root>
   
   
</configuration>