<?xml version="1.0" encoding="utf-8"?>
<beans default-lazy-init="true"
   xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

   <bean
      class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

   <bean class="org.springframework.orm.hibernate3.LocalSessionFactoryBean"
      id="sessionFactory">

      <property name="dataSource">
         <ref bean="dataSource" />
      </property>

      <property name="configLocation" ref="configLocation" />

      <property name="mappingLocations">
         <value>classpath:mapping/fr/urssaf/image/commons/springsecurity/acl/model/*.hbm.xml
         </value>
      </property>
   </bean>

</beans>
