<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
   xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:util="http://www.springframework.org/schema/util"
   xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/util 
         http://www.springframework.org/schema/util/spring-util-3.0.xsd
         http://www.springframework.org/schema/security
         http://www.springframework.org/schema/security/spring-security-3.0.4.xsd">

   <global-method-security jsr250-annotations="enabled"
      access-decision-manager-ref="methodAuthorizeManager" >
      <after-invocation-provider ref="publicationReadAccess" />
   </global-method-security>

   <beans:bean id="methodAuthorizeManager"
      class="org.springframework.security.access.vote.AffirmativeBased">
      <beans:property name="decisionVoters">
         <beans:list>
            <beans:bean
               class="org.springframework.security.access.vote.RoleHierarchyVoter">
               <beans:constructor-arg ref="roleHierarchy" />
            </beans:bean>
            <beans:ref bean="publicationWriteVoter" />
         </beans:list>
      </beans:property>
   </beans:bean>

   <beans:bean id="roleHierarchy"
      class="org.springframework.security.access.hierarchicalroles.RoleHierarchyImpl">
      <beans:property name="hierarchy">
         <beans:value>
            ROLE_ADMIN > ROLE_AUTHOR
            ROLE_ADMIN > ROLE_EDITOR
            ROLE_EDITOR > ROLE_READER
            ROLE_AUTHOR > ROLE_READER
         </beans:value>
      </beans:property>
   </beans:bean>

   <beans:bean id="aclService"
      class="org.springframework.security.acls.jdbc.JdbcAclService">
      <beans:constructor-arg ref="dataSource" />
      <beans:constructor-arg ref="lookupStrategy" />
   </beans:bean>

   <beans:bean id="lookupStrategy"
      class="org.springframework.security.acls.jdbc.BasicLookupStrategy">
      <beans:constructor-arg ref="dataSource" />
      <beans:constructor-arg ref="aclCache" />
      <beans:constructor-arg ref="aclAuthorizationStrategy" />
      <beans:constructor-arg>
         <beans:bean
            class="org.springframework.security.acls.domain.ConsoleAuditLogger" />
      </beans:constructor-arg>
      <beans:property name="permissionFactory" ref="permissionFactory" />

   </beans:bean>

   <beans:bean id="permissionFactory"
      class="org.springframework.security.acls.domain.DefaultPermissionFactory">
      <beans:constructor-arg
         value="fr.urssaf.image.commons.springsecurity.acl.security.ExtendedPermission" />
   </beans:bean>

   <beans:bean id="aclCache"
      class="org.springframework.security.acls.domain.EhCacheBasedAclCache">
      <beans:constructor-arg>
         <beans:bean
            class="org.springframework.cache.ehcache.EhCacheFactoryBean">
            <beans:property name="cacheManager">
               <beans:bean
                  class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean" />
            </beans:property>
            <beans:property name="cacheName" value="aclCache" />
         </beans:bean>
      </beans:constructor-arg>
   </beans:bean>

   <beans:bean id="aclAuthorizationStrategy"
      class="org.springframework.security.acls.domain.AclAuthorizationStrategyImpl">
      <beans:constructor-arg>
         <beans:list>
            <beans:bean
               class="org.springframework.security.core.authority.GrantedAuthorityImpl">
               <beans:constructor-arg value="ROLE_ADMIN" />
            </beans:bean>
            <beans:bean
               class="org.springframework.security.core.authority.GrantedAuthorityImpl">
               <beans:constructor-arg value="ROLE_ADMIN" />
            </beans:bean>
            <beans:bean
               class="org.springframework.security.core.authority.GrantedAuthorityImpl">
               <beans:constructor-arg value="ROLE_ADMIN" />
            </beans:bean>
         </beans:list>
      </beans:constructor-arg>
   </beans:bean>

   <beans:import resource="applicationContext-security-acl.xml" />

</beans:beans>
