<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
   xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <!-- Client de connexion à zookeeper -->
   <bean id="zkClient" factory-method="getClient" factory-bean="zookeeperClientFactory"/>
   <bean id="zookeeperClientFactory"
      class="fr.urssaf.image.commons.zookeeper.ZookeeperClientFactory">
      <constructor-arg ref="zookeeperServer" />
      <constructor-arg value="${zookeeper.namespace}" />
   </bean>

   <!-- le keyspace cassandra à utiliser -->
   <bean id="keyspace" factory-method="getKeyspace" factory-bean="cassandraClientFactory"/>
   <bean id="cassandraClientFactory" class="fr.urssaf.image.commons.cassandra.helper.CassandraClientFactory">
      <constructor-arg ref="cassandraServer" />
      <constructor-arg value="${cassandra.keyspace}" />
      <constructor-arg value="${cassandra.username}" />
      <constructor-arg value="${cassandra.password}" />
   </bean>
   
   <bean id="zookeeperServer" class="fr.urssaf.image.commons.zookeeper.ZookeeperServerBean">
      <property name="startLocal" value="${zookeeper.startlocal}"/>
      <property name="hosts" value="${zookeeper.hosts}" />
   </bean>
   <bean id="cassandraServer" class="fr.urssaf.image.commons.cassandra.helper.CassandraServerBean">
      <property name="startLocal" value="${cassandra.startlocal}"/>
      <property name="hosts" value="${cassandra.hosts}" />
      <property name="dataSet" value="${cassandra.dataset}"/>
   </bean>
   
   <!-- configuration du clock -->
   <bean id="jobClockConfiguration"
      class="fr.urssaf.image.commons.cassandra.support.clock.JobClockConfiguration">
      <property name="maxTimeSynchroError" value="${cassandra.clock.error}" />
      <property name="maxTimeSynchroWarn" value="${cassandra.clock.warn}" />
   </bean>

   <bean id="jobClockSupport"
      class="fr.urssaf.image.commons.cassandra.support.clock.impl.JobClockSupportImpl">
      <constructor-arg ref="keyspace" />
      <constructor-arg ref="jobClockConfiguration" />
   </bean>

</beans>