<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:http-conf="http://cxf.apache.org/transports/http/configuration"
	xmlns:sec="http://cxf.apache.org/configuration/security"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://cxf.apache.org/transports/http/configuration
http://cxf.apache.org/schemas/configuration/http-conf.xsd">

	<bean class="fr.urssaf.image.commons.webservice.ssl.MySSLContextSource"
		id="SSLContextSource">

		<property name="certificat">
			<value>classpath:certificat\cert1.p12</value>
		</property>

		<property name="certificatPassword">
			<value>toto</value>
		</property>

	</bean>

	<bean class="fr.urssaf.image.commons.webservice.ssl.MySSLContextFactory"
		id="SSLContextFactory">

		<property name="SSLContextSource">
			<ref bean="SSLContextSource" />
		</property>

	</bean>


</beans>