<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
   xmlns:jaxws="http://cxf.apache.org/jaxws"
   xsi:schemaLocation="
		http://www.springframework.org/schema/beans	
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

   <jaxws:client id="simpleWebService"
      serviceClass="fr.urssaf.image.commons.springsecurity.webservice.custom.modele.SimpleWebService"
      address="http://localhost:8082/commons-springsecurity-webservice/service/SimpleService">

      <jaxws:outInterceptors>
         <bean class="org.apache.cxf.binding.soap.saaj.SAAJOutInterceptor" />
         <bean class="org.apache.cxf.ws.security.wss4j.WSS4JOutInterceptor">
            <constructor-arg>
               <map>
                  <entry key="action" value="UsernameToken" />
                  <entry key="user" value="myuser" />
                  <entry key="passwordCallbackRef">
                     <ref bean="passwordCallbackHandler" />
                  </entry>
                  <entry key="user" value="myuser" />
               </map>
            </constructor-arg>
         </bean>
         <ref bean="securityContextByFileInterceptor" />
      </jaxws:outInterceptors>

   </jaxws:client>


</beans>