<configuration>


   <property name="LOGS_FOLDER" value="@@LOGS_PATH@@" />
   
   <property name="LOGS_FILENAME_PREFIXE" value="sae_lotinstallmaj" />
   
   <property name="LOGS_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSSk} %-5level %logger - %msg%n" />
   
   

   <appender name="consoleInfo" class="ch.qos.logback.core.ConsoleAppender">
      
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
         <level>INFO</level>
      </filter>
      
      <encoder>
         <pattern>%d{yyyy-MM-dd HH:mm:ss.SSSk} %-5level - %msg%n</pattern>
      </encoder>
      
   </appender>



   <appender name="log-file"
      class="ch.qos.logback.core.FileAppender">
      
      <file>${LOGS_FOLDER}/${LOGS_FILENAME_PREFIXE}.log</file>
      
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
         <level>INFO</level>
      </filter>
      
      <encoder>
         <pattern>${LOGS_PATTERN}</pattern>
      </encoder>
      
   </appender>
   

   <!-- Pour que les traces INFO du SAE apparaissent dans la console -->
   <logger name="fr.urssaf.image.sae.lotinstallmaj" level="INFO" additivity="false">
      <appender-ref ref="log-file" />
      <appender-ref ref="consoleInfo" />
   </logger>
   
   
   <!-- Niveau general pour l'application -->
   <root level="INFO">
      <appender-ref ref="log-file" />
   </root>
   
   
</configuration>