<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="injection"
		class="fr.urssaf.image.commons.ioc.spring.exemple.service.InjectionServiceImpl" />

	<bean id="byConstructeur"
		class="fr.urssaf.image.commons.ioc.spring.exemple.service.ExempleByConstructeurMethodeServiceImpl">
		<constructor-arg ref="injection" />
	</bean>

	<bean id="bySetter"
		class="fr.urssaf.image.commons.ioc.spring.exemple.service.ExempleBySetterMethodeServiceImpl">
		<property name="injectionService" ref="injection" />
	</bean>

</beans>