<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="
		http://www.springframework.org/schema/beans	
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.0.xsd">


   <import resource="applicationContext-sae-services.xml" />
   <import resource="applicationContext-sae-storage-dfce.xml" />
   <import resource="applicationContext-sae-metadata.xml" />

   <import resource="storageConnectionParameter.xml" />

   <!-- configuration de ECDE -->

   <bean id="ecdeSource_basePath" class="fr.urssaf.image.sae.utils.TempFileUtils"
      factory-method="createTempFile">
      <constructor-arg value="ecde" />
   </bean>

   <bean id="ecdeSource" class="fr.urssaf.image.sae.ecde.modele.source.EcdeSource">

      <constructor-arg value="ecde.cer69.recouv" />
      <constructor-arg ref="ecdeSource_basePath" />

   </bean>

   <bean id="ecdeSources" class="fr.urssaf.image.sae.ecde.modele.source.EcdeSources">
      <property name="sources">
         <array>
            <ref bean="ecdeSource" />
         </array>
      </property>
   </bean>


</beans>