<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

  <display-name>Archetype Created Web Application</display-name>
 
  <welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<filter>
		<filter-name>MaquetteFilter</filter-name>
		<filter-class>fr.urssaf.image.commons.maquette.MaquetteFilter</filter-class>
		
      <!-- 
			==================================================
         Paramètres applicatifs
         ==================================================
		 -->
		
      
      <!-- Pour exclure les pages d'accueil (welcome file list), ajouter la valeur "/commons-maquette-exemple/" -->
      <init-param>
         <param-name>excludeFiles</param-name>
         <param-value>$*exclude*</param-value>
      </init-param>
      
      <init-param>
			<param-name>appTitle</param-name>
			<param-value>Administration de la GED</param-value>			
		</init-param>
		
      <init-param>
         <param-name>appCopyright</param-name>
         <param-value>Copyright 2006-2010</param-value>
      </init-param>
      
      <init-param>
         <param-name>appDisplayStandardsAndNorms</param-name>
         <param-value>0</param-value>
      </init-param>
      
      <init-param>
         <param-name>implementationIMenu</param-name>
         <param-value>fr.urssaf.image.commons.maquette.exemple.ImplMenu</param-value>
      </init-param>
      
      <init-param>
         <param-name>implementationILeftCol</param-name>
         <param-value>fr.urssaf.image.commons.maquette.exemple.ImplLeftCol</param-value>
      </init-param>
      
      
      <!-- 
         ==================================================
         Paramètres graphiques
         ==================================================
       -->
      
      
      <!--
      <init-param>
         <param-name>theme</param-name>
         <param-value>aed</param-value>
      </init-param>
      -->
      
      <init-param>
			<param-name>logoPrincipal</param-name>
			<param-value>img/logo_image_ged.png</param-value>
		</init-param>
      
      <init-param>
			<param-name>appLogo</param-name>
			<param-value>img/logo_ged.png</param-value>
		</init-param>
		
		<init-param>
			<param-name>cssMainBackgroundColor</param-name>
			<param-value>#AAB9BD</param-value>
		</init-param>
      
		<init-param>
			<param-name>cssContentBackgroundColor</param-name>
			<param-value>#fff</param-value>
		</init-param>
      
		<init-param>
			<param-name>cssHeaderBackgroundColor</param-name>
			<param-value>#044a6e</param-value>
		</init-param>
		
      <init-param>
			<param-name>cssHeaderBackgroundImg</param-name>
			<param-value>img/degrade_h_ged.png</param-value>
		</init-param>
		
      <init-param>
			<param-name>cssLeftcolBackgroundImg</param-name>
			<param-value>img/leftcol_ged.png</param-value>
		</init-param>
		
      <init-param>
         <param-name>cssMainFontColor</param-name>
         <param-value>#fff</param-value>
      </init-param>
      
      <init-param>
         <param-name>cssContentFontColor</param-name>
         <param-value>#000</param-value>
      </init-param>
      
      <init-param>
			<param-name>cssInfoboxBackgroundColor</param-name>
			<param-value>#EAEAEF</param-value>
		</init-param>
		
      <init-param>
			<param-name>cssSelectedMenuBackgroundColor</param-name>
			<param-value>#05577D</param-value>
		</init-param>
		
		<init-param>
			<param-name>cssMenuFirstRowFontColor</param-name>
			<param-value>#CEEDFF</param-value>
		</init-param>
      
		<init-param>
			<param-name>cssMenuLinkFontColor</param-name>
			<param-value>white</param-value>
		</init-param>
		
      <init-param>
			<param-name>cssMenuLinkHoverFontColor</param-name>
			<param-value>black</param-value>
		</init-param>
      
	</filter>
	
	<filter-mapping>
		<filter-name>MaquetteFilter</filter-name>
		<url-pattern>*.do</url-pattern>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>*.html</url-pattern>
		<url-pattern>*.htm</url-pattern>
	</filter-mapping>

	<servlet>
		<description></description>
		<display-name>MaquetteServlet</display-name>
		<servlet-name>MaquetteServlet</servlet-name>
		<servlet-class>fr.urssaf.image.commons.maquette.MaquetteServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MaquetteServlet</servlet-name>
		<url-pattern>/getResourceImageMaquette.do</url-pattern>
	</servlet-mapping>
	
</web-app>