<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
   xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="
      http://www.springframework.org/schema/beans 
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context 
      http://www.springframework.org/schema/context/spring-context-3.0.xsd">


   <!-- Connecteur Client JSR-160 -->
   
   <!-- Sans sécurité login/password -->
   
   <bean
      id="clientConnector"
      class="org.springframework.jmx.support.MBeanServerConnectionFactoryBean">
      
      <property name="serviceUrl" value="service:jmx:rmi://localhost/jndi/rmi://localhost:9998/server"/>
      
   </bean>
   
   
   <!-- avec sécurité login/password -->
   <!--
   <bean
      id="clientConnector"
      class="org.springframework.jmx.support.MBeanServerConnectionFactoryBean">
      
      <property name="serviceUrl" value="service:jmx:rmi://localhost/jndi/rmi://localhost:9998/server"/>
      
      <property name="environment">
         <map>
            <entry key="jmx.remote.credentials">
            <bean
               class="org.springframework.util.StringUtils"
               factory-method="commaDelimitedListToStringArray">
               <constructor-arg value="controlRole,controlRolePassword" />
            </bean>
           </entry>
         </map>
      </property>
      
   </bean>
   -->
   
   
   <!-- Proxy pour utiliser MBean premierBean -->
   <bean id="proxyPremierBean" class="org.springframework.jmx.access.MBeanProxyFactoryBean">
      <property name="server" ref="clientConnector"/>
      <property name="objectName" value="bean:name=premierBean"/>
      <property name="proxyInterface" value="fr.urssaf.image.commons.jmx.spring.exemple.mbean.IPremierBean"/>
   </bean>
   
</beans>