<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
   xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="
      http://www.springframework.org/schema/beans 
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context 
      http://www.springframework.org/schema/context/spring-context-3.0.xsd">


   <context:component-scan base-package="fr.urssaf.image.commons.jmx.spring.exemple" />


   <!-- Exportation des beans Spring en MBean JMX -->
   
   <!-- Sans utiliser l'interface -->
   <!--
   <bean id="exporter"
         class="org.springframework.jmx.export.MBeanExporter"
         lazy-init="false" >
      <property name="beans">
         <map>
            <entry key="bean:name=premierBean" value-ref="premierBean" />
         </map>
      </property>
   </bean>
   -->
   
   <!-- En utilisant l'interface -->
   <bean id="exporter"
         class="org.springframework.jmx.export.MBeanExporter"
         lazy-init="false" >
      <property name="beans">
         <map>
            <entry key="bean:name=premierBean" value-ref="premierBean" />
         </map>
      </property>
      <property name="assembler">
         <bean class="org.springframework.jmx.export.assembler.InterfaceBasedMBeanInfoAssembler">
           <property name="managedInterfaces">
             <value>fr.urssaf.image.commons.jmx.spring.exemple.mbean.IPremierBean</value>
           </property>
         </bean>
      </property>
   </bean>
   
   
   <!-- En utilisant l'interface et un MBean serveur -->
   
   <!--
   
   <bean id="mbeanServer" class="org.springframework.jmx.support.MBeanServerFactoryBean" />
   
   <bean id="exporter"
         class="org.springframework.jmx.export.MBeanExporter"
         lazy-init="false" >
      <property name="server" ref="mbeanServer"/>
      <property name="beans">
         <map>
            <entry key="bean:name=premierBean" value-ref="premierBean" />
         </map>
      </property>
      <property name="assembler">
         <bean class="org.springframework.jmx.export.assembler.InterfaceBasedMBeanInfoAssembler">
           <property name="managedInterfaces">
             <value>fr.urssaf.image.commons.jmx.spring.exemple.mbean.IPremierBean</value>
           </property>
         </bean>
      </property>
   </bean>
   
   -->
   
   
   <!-- Déclaration d'un serveur RMI -->

   <bean id="registry"
         class="org.springframework.remoting.rmi.RmiRegistryFactoryBean">
      <property name="port" value="9998" />      
   </bean>
   
   <!-- Sans la sécurisation par login/password -->
   
   <bean id="serverConnector"
         class="org.springframework.jmx.support.ConnectorServerFactoryBean">
         
         <property name="objectName" value="connector:name=rmi" />
         <property name="serviceUrl" 
                   value="service:jmx:rmi://localhost/jndi/rmi://localhost:9998/server" />
         
   </bean>
   
   
   <!-- Avec la sécurisation par login/password -->
   <!--
   <bean id="serverConnector"
         class="org.springframework.jmx.support.ConnectorServerFactoryBean">
         
         <property name="objectName" value="connector:name=rmi" />
         <property name="serviceUrl" 
                   value="service:jmx:rmi://localhost/jndi/rmi://localhost:9998/server" />
         <property name="environment">
            <map>
               <entry key="jmx.remote.x.password.file" value="src/main/config/server/jmx.password" /> 
               <entry key="jmx.remote.x.access.file" value="src/main/config/server/jmx.access" />
            </map>
         </property>
         
   </bean>
   -->

   
</beans>