<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Exemple d'utilsiation du BirtRender</display-name>
  <servlet>
  	<servlet-name>ExecBirt</servlet-name>
  	<display-name>ExecBirt</display-name>
  	<description>Servlet d'exemple d'utilisation du BirtRender</description>
  	<servlet-class>
  	fr.urssaf.image.commons.birt.exemple.ExecBirt</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ExecBirt</servlet-name>
  	<url-pattern>/ExecBirt</url-pattern>
  </servlet-mapping>
</web-app>
