<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="
		http://www.springframework.org/schema/beans	
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <!-- Mise en place des indicateurs JMX -->
   <bean id="jmxIndicatorService"
      class="fr.urssaf.image.sae.services.jmx.impl.SAEJmxIndicatorImpl" />
   <!-- récupération de la plate-forme MBeanServer -->
   <bean id="mbeanServer" class="java.lang.management.ManagementFactory"
      factory-method="getPlatformMBeanServer" />
   <!-- exports spring des composants -->
   <bean id="exporter" class="org.springframework.jmx.export.MBeanExporter">
      <property name="server" ref="mbeanServer" />
      <property name="beans">
         <map>
            <entry key="bean:name=archivageMasse" value-ref="jmxIndicatorService" />
         </map>
      </property>
      <!-- Ici on remplace le MBean existant par la nouvelle. -->
      <property name="registrationBehaviorName" value="REGISTRATION_REPLACE_EXISTING" />
      <!--
         La propagation des informations se fait via l'interface
         SAEJmxIndicator
      -->
      <property name="assembler">
         <bean
            class="org.springframework.jmx.export.assembler.InterfaceBasedMBeanInfoAssembler">
            <property name="managedInterfaces">
               <value>fr.urssaf.image.sae.services.jmx.SAEJmxIndicator
               </value>
            </property>
         </bean>
      </property>
   </bean>
</beans>