<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
   xsi:schemaLocation="
		http://www.springframework.org/schema/beans	
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/jee 
        http://www.springframework.org/schema/jee/spring-jee-3.0.xsd">

   <import resource="applicationContext-dataSources.xml" />
   <import resource="applicationContext-sessionFactory.xml" />
   <import resource="applicationContext-transactionManager.xml" />

   <bean id="messageSource"
      class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
      <property name="basenames">
         <list>
            <value>/message/labels</value>
         </list>
      </property>
      <property name="cacheSeconds" value="0" />
   </bean>

   <bean id="parametersComponent"
      class="fr.urssaf.image.commons.controller.spring3.jndi.exemple.service.ParametersComponent">
      <property name="title">
         <jee:jndi-lookup id="title"
            jndi-name="java:comp/env/title/default" default-value="No Title" />
      </property>
   </bean>

</beans>