<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cxf="http://cxf.apache.org/core" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://cxf.apache.org/core
http://cxf.apache.org/schemas/core.xsd
http://cxf.apache.org/jaxws
http://cxf.apache.org/schemas/jaxws.xsd">

	<context:component-scan
		base-package="fr.urssaf.image.commons.webservice.wssecurity.spring" />

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	<import resource="classpath*:META-INF/cxf/cxf-extension-*.xml" />

	<bean id="myPasswordCallback"
		class="fr.urssaf.image.commons.webservice.wssecurity.spring.service.ServerPasswordCallback" />

	<jaxws:endpoint id="docEndPointDocument" implementor="#documentServiceImpl"
		address="/DocumentService">

		<jaxws:inInterceptors>
			<bean class="org.apache.cxf.binding.soap.saaj.SAAJInInterceptor" />
			<bean class="org.apache.cxf.ws.security.wss4j.WSS4JInInterceptor">
				<constructor-arg>
					<map>
						<entry key="action" value="UsernameToken Signature Timestamp Encrypt" />
						<entry key="signaturePropFile" value="serviceKeyStore.properties" />
						<entry key="decryptionPropFile" value="serviceKeyStore.properties" />
						<entry key="passwordCallbackRef">
							<ref bean="myPasswordCallback" />
						</entry>
					</map>
				</constructor-arg>
			</bean>
		</jaxws:inInterceptors>

		<jaxws:outInterceptors>
			<bean class="org.apache.cxf.binding.soap.saaj.SAAJOutInterceptor" />
			<bean class="org.apache.cxf.ws.security.wss4j.WSS4JOutInterceptor">
				<constructor-arg>
					<map>
						<entry key="action" value="Encrypt" />
						<entry key="encryptionPropFile" value="serviceKeyStore.properties" />
						<entry key="encryptionUser" value="myclientkey" />

						<entry key="signatureParts"
							value="{Element}{http://schemas.xmlsoap.org/soap/envelope/}Body" />

					</map>
				</constructor-arg>
			</bean>
		</jaxws:outInterceptors>

	</jaxws:endpoint>

</beans>