<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
   xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <!--
      On ne travaille pas en mode transactionnel, mais un
      transactionManager est obligatoire
   -->
   <bean id="transactionManager"
      class="org.springframework.batch.support.transaction.ResourcelessTransactionManager">
   </bean>

   <!-- Déclaration des DAO utilisées par spring-batch -->
   
   <bean id="cassandraJobInstanceDao"
      class="fr.urssaf.image.commons.cassandra.spring.batch.dao.CassandraJobInstanceDao">
      <constructor-arg ref="keyspace" />
      <constructor-arg ref="jobInstanceIdGenerator" />
   </bean>
   <bean id="jobInstanceIdGenerator"
      class="fr.urssaf.image.commons.cassandra.spring.batch.idgenerator.JobInstanceIdGenerator">
      <constructor-arg ref="keyspace" />
      <constructor-arg ref="zkClient" />
   </bean>
   <bean id="cassandraJobExecutionDao"
      class="fr.urssaf.image.commons.cassandra.spring.batch.dao.CassandraJobExecutionDao">
      <constructor-arg ref="keyspace" />
      <constructor-arg ref="jobExecutionIdGenerator" />
   </bean>
   <bean id="jobExecutionIdGenerator"
      class="fr.urssaf.image.commons.cassandra.spring.batch.idgenerator.JobExecutionIdGenerator">
      <constructor-arg ref="keyspace" />
      <constructor-arg ref="zkClient" />
   </bean>
   <bean id="cassandraStepExecutionDao"
      class="fr.urssaf.image.commons.cassandra.spring.batch.dao.CassandraStepExecutionDao">
      <constructor-arg ref="keyspace" />
      <constructor-arg ref="stepExecutionIdGenerator" />
   </bean>
   <bean id="stepExecutionIdGenerator"
      class="fr.urssaf.image.commons.cassandra.spring.batch.idgenerator.StepExecutionIdGenerator">
      <constructor-arg ref="keyspace" />
      <constructor-arg ref="zkClient" />
   </bean>
   <bean id="cassandraExecutionContextDao"
      class="fr.urssaf.image.commons.cassandra.spring.batch.dao.CassandraExecutionContextDao">
      <constructor-arg ref="keyspace" />
   </bean>

   <!-- Client de connexion à zookeeper -->
   <bean id="zkClient" depends-on="localZookeeperServer"
      class="fr.urssaf.image.commons.zookeeper.ZookeeperClientFactory"
      factory-method="getClient">
      <constructor-arg value="${zookeeper.hosts}" />
      <constructor-arg value="${zookeeper.namespace}" />
   </bean>

   <!--
      le keyspace cassandra à utiliser pour stocker les méta-data des
      jobs
   -->
   <bean id="keyspace" class="me.prettyprint.hector.api.factory.HFactory" depends-on="localCassandraServer"
      factory-method="createKeyspace">
      <constructor-arg value="${cassandra.keyspace}" />
      <constructor-arg ref="cluster" />
      <constructor-arg ref="consistencyLevelPolicy" />
      <constructor-arg type="me.prettyprint.cassandra.service.FailoverPolicy" value="ON_FAIL_TRY_ALL_AVAILABLE" />
      <constructor-arg ref="cassandraCredentials" />
   </bean>
   
   <bean id="cluster" class="me.prettyprint.cassandra.service.ThriftCluster">
      <!-- Le nom du cluster n'est pas important -->
      <constructor-arg value="SpringBatchCluster" />
      <constructor-arg ref="cassandraHostConfigurator" />
   </bean>
   <bean id="cassandraHostConfigurator"
      class="me.prettyprint.cassandra.service.CassandraHostConfigurator">
      <constructor-arg value="${cassandra.hosts}" />
   </bean>
   <bean id="consistencyLevelPolicy"
      class="me.prettyprint.cassandra.model.ConfigurableConsistencyLevel">
      <property name="defaultReadConsistencyLevel" value="QUORUM" />
      <property name="defaultWriteConsistencyLevel" value="QUORUM" />
   </bean>
   <bean id="cassandraCredentials"
      class="org.springframework.beans.factory.config.MapFactoryBean">
      <property name="targetMapClass">
         <value>java.util.HashMap</value>
      </property>
      <property name="sourceMap">
         <map>
            <entry key="username" value="${cassandra.username}" />
            <entry key="password" value="${cassandra.password}" />
         </map>
      </property>
   </bean>

   <bean id="localZookeeperServer" class="fr.urssaf.image.commons.cassandra.spring.batch.helper.LocalZookeeperServerBean">
      <property name="shouldInit" value="${zookeeper.local}"/>
      <property name="port" value="${zookeeper.port}"/>
   </bean>
   <bean id="localCassandraServer" class="fr.urssaf.image.commons.cassandra.spring.batch.helper.LocalCassandraServerBean">
      <property name="shouldInit" value="${cassandra.local}"/>
      <property name="dataSet" value="dataSet-commons-cassandra-spring-batch.xml"/>
   </bean>

</beans>