<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="
      http://www.springframework.org/schema/beans 
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context 
      http://www.springframework.org/schema/context/spring-context-3.0.xsd">

   <import resource="applicationContext-service.xml" />

   <bean id="applicationProperties"
      class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
      <property name="location"
         value="classpath:config/sae-services-test.properties" />
   </bean>
   <!--Instantiation du bean de connexion à la base DFCE -->
   <bean id="storageBase"
      class="fr.urssaf.image.sae.storage.model.connection.StorageBase">
      <property name="baseName" value="${db.baseName}" />
   </bean>
   <!--Valorisation des paramètres à partir du fichier properties. -->
   <bean id="storageHost"
      class="fr.urssaf.image.sae.storage.model.connection.StorageHost">
      <property name="hostName" value="${db.hostName}" />
      <property name="hostPort" value="${db.hostPort}" />
      <property name="contextRoot" value="${db.contextRoot}" />
      <property name="secure" value="${db.secure}" />
   </bean>
   <bean id="storageUser"
      class="fr.urssaf.image.sae.storage.model.connection.StorageUser">
      <property name="login" value="${db.login}" />
      <property name="password" value="${db.password}" />
   </bean>
   <bean id="storageConnectionParameter"
      class="fr.urssaf.image.sae.storage.model.connection.StorageConnectionParameter">
      <property name="storageBase" ref="storageBase" />
      <property name="storageHost" ref="storageHost" />
      <property name="storageUser" ref="storageUser" />
   </bean>



</beans>