<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="
		http://www.springframework.org/schema/beans	
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">


   <bean id="ordonnanceurConfigurationSupport"
      class="fr.urssaf.image.sae.ordonnanceur.support.OrdonnanceurConfigurationSupport">
      <constructor-arg ref="saeConfigResource" />
   </bean>

   <bean id="cassandraConfigResource" factory-bean="ordonnanceurConfigurationSupport"
      factory-method="loadCassandraConfigResource" />


   <bean id="applicationProperties"
      class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
      <property name="locations">
         <array value-type="org.springframework.core.io.Resource">
            <ref bean="saeConfigResource" />
            <ref bean="cassandraConfigResource" />
         </array>
      </property>
   </bean>

   <!-- configuration des traitements -->
   <import resource="applicationContext-sae-ordonnanceur-cassandra.xml" />

   <!-- configuration des traitements -->
   <import resource="applicationContext-sae-ordonnanceur-service.xml" />

   <!-- configuration ECDE -->
   <import resource="applicationContext-sae-ordonnanceur-ecde.xml" />

   <!-- configuration de l'ordonnanceur -->
   <bean id="ordonnanceurConfiguration"
      class="fr.urssaf.image.sae.ordonnanceur.model.OrdonnanceurConfiguration">
      <property name="intervalle" value="${sae.ordonnanceur.intervalle}" />
   </bean>

</beans>