body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	background-color: #C3DDCC;
}

.erreur {
	color: red;
	font-weight: 100;
	text-align: left;
	font-size: 0.6em;
	margin-left: 5px;
}

h6.erreur{
	font-size: 0.8em;
}

table {
	border-width: 0px;
	padding: 0px;
	border-spacing: 1px;
}

#table th {
	background-color: #9BBB59;
	padding: 5px;
	font-weight: bold;
	font-size: 0.8em;
}

#table td {
	align: left;
	vertical-align: top; padding-left : 0px;
	padding-right: 10px;
	font-size: 0.8em;
	padding-left: 0px
}

#table h6.erreur{
	max-width: 100px;
}

#form td {
	align: left;
	vertical-align: top; padding-left : 0px;
	padding-right: 10px;
	font-size: 0.8em;
	padding-left: 0px;
	min-width: 100px;
}


.button {
	font-size: 0.8em;
	color: #0058E6;
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 .title{
	font-size:0.6em;
	color:#669999;
	font-family:MS Courier New;
}