html, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * address, address.frUrssafImageCommonsMaquette
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * blockquote, blockquote.frUrssafImageCommonsMaquette
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * body.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * dd, dd.frUrssafImageCommonsMaquette,
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * div, div.frUrssafImageCommonsMaquette,
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * dl, dl.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * dt, dt.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * fieldset, fieldset.frUrssafImageCommonsMaquette
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * form, form.frUrssafImageCommonsMaquette
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * frame, frame.frUrssafImageCommonsMaquette
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * frameset, frameset.frUrssafImageCommonsMaquette
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h1, h1.frUrssafImageCommonsMaquette,
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h2, h2.frUrssafImageCommonsMaquette,
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h3, h3.frUrssafImageCommonsMaquette,
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h4, h4.frUrssafImageCommonsMaquette,
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h5, h5.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h6, h6.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * noframes, noframes.frUrssafImageCommonsMaquette
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * ol, ol.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * p, p.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * ul, ul.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * center, center.frUrssafImageCommonsMaquette,
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * dir, dir.frUrssafImageCommonsMaquette
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * hr, hr.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * menu, menu.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * pre, pre.frUrssafImageCommonsMaquette   { display: block }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * li, li.frUrssafImageCommonsMaquette     { display: list-item }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * head, head.frUrssafImageCommonsMaquette { display: none }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * table, table.frUrssafImageCommonsMaquette	{ display: table }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * tr, tr.frUrssafImageCommonsMaquette		{ display: table-row }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * thead, thead.frUrssafImageCommonsMaquette 	{ display: table-header-group }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * tbody, tbody.frUrssafImageCommonsMaquette	{ display: table-row-group }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * tfoot, tfoot.frUrssafImageCommonsMaquette	{ display: table-footer-group }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * col, col.frUrssafImageCommonsMaquette		{ display: table-column }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * colgroup, colgroup.frUrssafImageCommonsMaquette	{ display: table-column-group }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * td, td.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * th, th.frUrssafImageCommonsMaquette			{ display: table-cell }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * caption, caption.frUrssafImageCommonsMaquette	{ display: table-caption }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * th, th.frUrssafImageCommonsMaquette			{ font-weight: bolder; text-align: center }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * caption, caption.frUrssafImageCommonsMaquette	{ text-align: center }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h1, h1.frUrssafImageCommonsMaquette	{ font-size: 2em; margin: .67em 0 }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h2, h2.frUrssafImageCommonsMaquette   { font-size: 1.5em; margin: .75em 0 }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h3, h3.frUrssafImageCommonsMaquette   { font-size: 1.17em; margin: .83em 0 }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h4, h4.frUrssafImageCommonsMaquette,
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * p, p.frUrssafImageCommonsMaquette,
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * blockquote, blockquote.frUrssafImageCommonsMaquette
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * ul, ul.frUrssafImageCommonsMaquette,
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * fieldset, fieldset.frUrssafImageCommonsMaquette
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * form, form.frUrssafImageCommonsMaquette
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * ol, ol.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * dl, dl.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * dir, dir.frUrssafImageCommonsMaquette
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * menu, menu.frUrssafImageCommonsMaquette{ margin: 1.12em 0 }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h5, h5.frUrssafImageCommonsMaquette    { font-size: .83em; margin: 1.5em 0 }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h6, h6.frUrssafImageCommonsMaquette    { font-size: .75em; margin: 1.67em 0 }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h1, h1.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h2, h2.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h3, h3.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h4, h4.frUrssafImageCommonsMaquette,
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h5, h5.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h6, h6.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * b, b.frUrssafImageCommonsMaquette,
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * strong, strong.frUrssafImageCommonsMaquette          
{ font-weight: bolder }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * blockquote, blockquote.frUrssafImageCommonsMaquette      { margin-left: 40px; margin-right: 40px }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * i, i.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * cite, cite.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * em, em.frUrssafImageCommonsMaquette,
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * var, var.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * address, address.frUrssafImageCommonsMaquette    
{ font-style: italic }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * pre, pre.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * tt, tt.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * code, code.frUrssafImageCommonsMaquette,
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * kbd, kbd.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * samp, samp.frUrssafImageCommonsMaquette       
{ font-family: monospace }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * pre, pre.frUrssafImageCommonsMaquette	{ white-space: pre }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * button, button.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * textarea, textarea.frUrssafImageCommonsMaquette,
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * input, input.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * select, select.frUrssafImageCommonsMaquette   
{ display: inline-block }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * big, big.frUrssafImageCommonsMaquette	{ font-size: 1.17em }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * small, small.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * sub, sub.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * sup, sup.frUrssafImageCommonsMaquette 	{ font-size: .83em }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * sub, sub.frUrssafImageCommonsMaquette  { vertical-align: sub }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * sup, sup.frUrssafImageCommonsMaquette  { vertical-align: super }
/*
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * table, table.frUrssafImageCommonsMaquette	{ border-spacing: 2px; }
*/
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * thead, thead.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * tbody, tbody.frUrssafImageCommonsMaquette,
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * tfoot, tfoot.frUrssafImageCommonsMaquette  { vertical-align: middle }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * td, td.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * th, th.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * tr, tr.frUrssafImageCommonsMaquette    { vertical-align: inherit }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * s, s.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * strike, strike.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * del, del.frUrssafImageCommonsMaquette  { text-decoration: line-through }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * hr, hr.frUrssafImageCommonsMaquette    { border: 1px inset }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * ol, ol.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * ul, ul.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * dir, dir.frUrssafImageCommonsMaquette,
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * menu, menu.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * dd, dd.frUrssafImageCommonsMaquette    { margin-left: 40px }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * ol, ol.frUrssafImageCommonsMaquette    { list-style-type: decimal }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * ol #container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * ul, 
ol.frUrssafImageCommonsMaquette ul.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * ul #container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * ol, 
ul.frUrssafImageCommonsMaquette ol.frUrssafImageCommonsMaquette,
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * ul #container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * ul, 
ul.frUrssafImageCommonsMaquette ul.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * ol #container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * ol,
ol.frUrssafImageCommonsMaquette ol.frUrssafImageCommonsMaquette    { margin-top: 0; margin-bottom: 0 }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * u, u.frUrssafImageCommonsMaquette, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * ins, ins.frUrssafImageCommonsMaquette  { text-decoration: underline }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * br, br.frUrssafImageCommonsMaquette:before		{ content: "\A"; white-space: pre-line }
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * center, center.frUrssafImageCommonsMaquette	{ text-align: center }
/*
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * :link, .frUrssafImageCommonsMaquette:link, 
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * :visited, .frUrssafImageCommonsMaquette:visited{ text-decoration: underline }
*/
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * :focus, .frUrssafImageCommonsMaquette:focus    { outline: thin dotted invert }

/* Begin bidirectionality settings (do not change) */
BDO[DIR="ltr"]  { direction: ltr; unicode-bidi: bidi-override }
BDO[DIR="rtl"]  { direction: rtl; unicode-bidi: bidi-override }

*[DIR="ltr"]    { direction: ltr; unicode-bidi: embed }
*[DIR="rtl"]    { direction: rtl; unicode-bidi: embed }

@media print {
  #container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h1, h1.frUrssafImageCommonsMaquette	{ page-break-before: always }
  #container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h1, h1.frUrssafImageCommonsMaquette, 
  #container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h2, h2.frUrssafImageCommonsMaquette, 
  #container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h3, h3.frUrssafImageCommonsMaquette,
  #container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h4, h4.frUrssafImageCommonsMaquette, 
  #container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h5, h5.frUrssafImageCommonsMaquette, 
  #container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h6, h6.frUrssafImageCommonsMaquette  { page-break-after: avoid }
  #container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * ul, ul.frUrssafImageCommonsMaquette, 
  #container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * ol, ol.frUrssafImageCommonsMaquette, 
  #container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * dl, dl.frUrssafImageCommonsMaquette  { page-break-before: avoid }
}