body.frUrssafImage
{
	background: cssMainBackgroundColor;
}

body.frUrssafImage > #container.frUrssafImage
{
	background: cssContentBackgroundColor url(cssLeftcolBackgroundImg) repeat-y; /* simule la colonne de gauche */
}

#container.frUrssafImage > #header.frUrssafImage
{
    background: cssHeaderBackgroundColor url(cssHeaderBackgroundImg) repeat-y ;
}

#container.frUrssafImage > #leftcol.frUrssafImage > p.boxContent
{
    background: cssInfoboxBackgroundColor ;
}

#container.frUrssafImage > #leftcol.frUrssafImage >  h3.boxTitle
{
    background: cssSelectedMenuBackgroundColor;
}

#container.frUrssafImage > #content.frUrssafImage > div#pagereminder /* utile pour le titre de la page affiche dans content */
{
	background: cssSelectedMenuBackgroundColor;
}

#container.frUrssafImage > #footer.frUrssafImage
{
	background: cssHeaderBackgroundColor;
}
