body.frUrssafImageCommonsMaquette
{
    
}

#container.frUrssafImageCommonsMaquette > #header.frUrssafImageCommonsMaquette,
#container.frUrssafImageCommonsMaquette > #leftcol.frUrssafImageCommonsMaquette h3
{
	color: cssMainFontColor;
}

#container.frUrssafImageCommonsMaquette > #leftcol.frUrssafImageCommonsMaquette p.boxContent
{
    color: cssHeaderBackgroundColor ;
}

#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette,
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette div
{
	color: cssContentFontColor;
}

#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > div#pagereminder.frUrssafImageCommonsMaquette
{
	color: cssMainFontColor;
}

#container.frUrssafImageCommonsMaquette > #footer.frUrssafImageCommonsMaquette > #providedby > a,
#container.frUrssafImageCommonsMaquette > #footer.frUrssafImageCommonsMaquette > #copyright
{
    color: cssMainFontColor;
}
