body.frUrssafImage
{
    color: cssMainFontColor;
}

#container.frUrssafImage > #leftcol p.boxContent
{
    color: cssHeaderBackgroundColor ;
}

#container.frUrssafImage > #content.frUrssafImage
{
	color: cssContentFontColor;
}

#container.frUrssafImage > #content.frUrssafImage > div#pagereminder.frUrssafImage
{
	color: cssMainFontColor;
}

#container.frUrssafImage > #footer.frUrssafImage > #providedby > a
{
    color: cssMainFontColor;
}
