body.frUrssafImageCommonsMaquette
{
/*    color: #fff; */
	font-family: Arial,Helvetica,Sans Serif;
	font-size: .9em;
	text-align: center;
}

img.linkedImage
{
    border: none;   
}

body.frUrssafImageCommonsMaquette > #container.frUrssafImageCommonsMaquette
{
	text-align: left;
}

#container.frUrssafImageCommonsMaquette > #leftcol.frUrssafImageCommonsMaquette > p.boxContent
{
    font-size: .75em ;
/*    color: #051A7D ; */
}

#container.frUrssafImageCommonsMaquette > #leftcol.frUrssafImageCommonsMaquette > h3.boxTitle
{
    font-size: 1em;
    font-weight: normal ;
    text-align: center;
}

#container.frUrssafImageCommonsMaquette > #leftcol.frUrssafImageCommonsMaquette > p#logout.boxContent > input.logout-user
{
    font-family: Arial,Helvetica,Sans Serif;
    font-size: .8em;
}

#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette
{
/*	color: black; */
}

#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > div#pagereminder.frUrssafImageCommonsMaquette
{
/*	color: #fff; */
}

#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > #content-application.frUrssafImageCommonsMaquette > p
{
    text-align: left;
}

#container.frUrssafImageCommonsMaquette > #footer.frUrssafImageCommonsMaquette > #copyright.frUrssafImageCommonsMaquette
{
    text-align: right;
}

#container.frUrssafImageCommonsMaquette > #footer.frUrssafImageCommonsMaquette > #providedby.frUrssafImageCommonsMaquette
{
    text-align: left;
}

#container.frUrssafImageCommonsMaquette > #footer.frUrssafImageCommonsMaquette > #providedby.frUrssafImageCommonsMaquette a
{
/*    color:#fff; */
}

#container.frUrssafImageCommonsMaquette > #footer.frUrssafImageCommonsMaquette > #providedby.frUrssafImageCommonsMaquette a:hover
{
    font-weight:bold;
}
