body.frUrssafImageCommonsMaquette
{
	background: #A6A9CA;
	margin: 8px;
}

body.frUrssafImageCommonsMaquette > #container.frUrssafImageCommonsMaquette
{
	margin: 0 auto;
	width: 90%;
	min-width: 750px;
	max-width: 1200px;
	min-height: 600px;
	background: #FFF url(getResourceImageMaquette.do?name=/resource/img/leftcol_aed.png) repeat-y; /* simule la colonne de gauche */
}

#container.frUrssafImageCommonsMaquette > #header.frUrssafImageCommonsMaquette
{
    padding: 0px 0px 0px 0px ;
    background: #051A7D url(getResourceImageMaquette.do?name=/resource/img/degrade_h_aed.png) repeat-y ;
    height: 1%; /* hack pour IE6 qui fait disparaitre les background image lors d'un scroll down / scroll up 
	 et pour IE7 qui n'affiche pas le contenu texte se trouvant dans cette zone */
}

#container.frUrssafImageCommonsMaquette > #header.frUrssafImageCommonsMaquette > h1#title-app.frUrssafImageCommonsMaquette
{
	float: left;
	padding-top: 10px;
	margin: 0 0 0 20px;
}

#container.frUrssafImageCommonsMaquette > #header.frUrssafImageCommonsMaquette > #minheight.frUrssafImageCommonsMaquette
{
	float: left;
	height: 49px;
	width: 1px;	
}

#container.frUrssafImageCommonsMaquette > #header.frUrssafImageCommonsMaquette > #logoimage.frUrssafImageCommonsMaquette
{
	float: left;
}

#container.frUrssafImageCommonsMaquette > #header.frUrssafImageCommonsMaquette > #logoappli.frUrssafImageCommonsMaquette
{
	float: right;
	min-height: 49px;
	max-height: 59px;
}
	
#container.frUrssafImageCommonsMaquette > #leftcol.frUrssafImageCommonsMaquette
{
   clear:both; /* en cas de zoom de l'utilisateur, évite que leftcol se décale après le menu quand il sera sur 2 lignes */
	float: left; /* positionner leftcol à gauche dans le conteneur */
	padding: 0 3px 0 3px;
	width: 9.35em; /* même taille que leftcol_aed.png qui est utilisé dans le container */
	min-height: 500px;
}

#container.frUrssafImageCommonsMaquette > #leftcol.frUrssafImageCommonsMaquette > p
{
	margin: 0px 0px 2px; /* supprime la marge haute dans les leftcol > p */
	padding:3px 0px 3px 1px;
}

#container.frUrssafImageCommonsMaquette > #leftcol.frUrssafImageCommonsMaquette > p.boxContent
{
    background: #EAEAEF ;
    word-wrap: break-word;
}

#container.frUrssafImageCommonsMaquette > #leftcol.frUrssafImageCommonsMaquette > h3.boxTitle
{
    margin: 0;
    padding: 4px 0px 2px 0px;
    background: #05577D;
}

#container.frUrssafImageCommonsMaquette > #leftcol.frUrssafImageCommonsMaquette > p#logout.boxContent
{
   text-align:center ;
}

#container.frUrssafImageCommonsMaquette > #leftcol.frUrssafImageCommonsMaquette > p#logout.boxContent > input.logout-user
{
   	margin-top: 5px;
	padding: 0px 5px 0px 5px ;	
}

#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette
{
	margin-left: 140px; /* même taille +5px que leftcol_aed.png qui est utilisé dans le container */
}

#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > div#pagereminder.frUrssafImageCommonsMaquette /* utile pour le titre de la page affiché dans content */
{
   margin: 0 ;
	padding: 4px 0px 2px 10px ; /* permet l'alignement avec les boites contenu dans leftcol */
	background: #05577D;
}

#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > #content-application.frUrssafImageCommonsMaquette
{
    padding: 0px 10px 10px 10px ;
}

#container.frUrssafImageCommonsMaquette > #footer.frUrssafImageCommonsMaquette
{
	clear: both;
	height:18px;
	padding: 5px 10px;
	background: #051A7D;
}

#container.frUrssafImageCommonsMaquette > #footer.frUrssafImageCommonsMaquette > #providedby.frUrssafImageCommonsMaquette
{
    float:left;
}

#container.frUrssafImageCommonsMaquette > #footer.frUrssafImageCommonsMaquette > #copyright.frUrssafImageCommonsMaquette
{
    float:right;
}
