body.frUrssafImageCommonsMaquette
{
	background: cssMainBackgroundColor;
}

body.frUrssafImageCommonsMaquette > #container.frUrssafImageCommonsMaquette
{
	background: cssContentBackgroundColor url(cssLeftcolBackgroundImg) repeat-y; /* simule la colonne de gauche */
}

#container.frUrssafImageCommonsMaquette > #header.frUrssafImageCommonsMaquette
{
    background: cssHeaderBackgroundColor url(cssHeaderBackgroundImg) repeat-y ;
}

#container.frUrssafImageCommonsMaquette > #leftcol.frUrssafImageCommonsMaquette > p.boxContent
{
    background: cssInfoboxBackgroundColor ;
}

#container.frUrssafImageCommonsMaquette > #leftcol.frUrssafImageCommonsMaquette >  h3.boxTitle
{
    background: cssSelectedMenuBackgroundColor;
}

#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > div#pagereminder /* utile pour le titre de la page affiche dans content */
{
	background: cssSelectedMenuBackgroundColor;
}

#container.frUrssafImageCommonsMaquette > #footer.frUrssafImageCommonsMaquette
{
	background: cssHeaderBackgroundColor;
}
