body.frUrssafImage
{
   color: #fff;
	font-family: Arial,Helvetica,Sans Serif;
	font-size: .9em;
	text-align: center;
}

img.linkedImage
{
    border: none;   
}

body.frUrssafImage > #container.frUrssafImage
{
	text-align: left;
}

#container.frUrssafImage > #leftcol.frUrssafImage > p.boxContent
{
    font-size: .75em ;
    color: #051A7D ;
}

#container.frUrssafImage > #leftcol.frUrssafImage > h3.boxTitle
{
    font-size: 1em;
    font-weight: normal ;
    text-align: center;
}

#container.frUrssafImage > #leftcol.frUrssafImage > p#logout.boxContent > input.logout-user
{
    font-family: Arial,Helvetica,Sans Serif;
    font-size: .8em;
}

#container.frUrssafImage > #content.frUrssafImage
{
	color: black;
}

#container.frUrssafImage > #content.frUrssafImage > div#pagereminder.frUrssafImage
{
	color: #fff;
}

#container.frUrssafImage > #content.frUrssafImage > #content-application.frUrssafImage > p
{
    text-align: left;
}

#container.frUrssafImage > #footer.frUrssafImage > #copyright.frUrssafImage
{
    text-align: right;
}

#container.frUrssafImage > #footer.frUrssafImage > #providedby.frUrssafImage
{
    text-align: left;
}

#container.frUrssafImage > #footer.frUrssafImage > #providedby.frUrssafImage a
{
    color:#fff;
}

#container.frUrssafImage > #footer.frUrssafImage > #providedby.frUrssafImage a:hover
{
    font-weight:bold;
}
