body
{
    color: cssMainFontColor;
}

#leftcol p.boxContent
{
    color: cssHeaderBackgroundColor ;
}

#content
{
	color: cssContentFontColor;
}

#content div#pagereminder
{
	color: cssMainFontColor;
}

#footer #providedby a
{
    color: cssMainFontColor;
}
