#container.frUrssafImageCommonsMaquette > #header.frUrssafImageCommonsMaquette > #menu {
	background: cssHeaderBackgroundColor;
}

#container.frUrssafImageCommonsMaquette > #header.frUrssafImageCommonsMaquette > #menu ul {
	background: cssHeaderBackgroundColor;
}

#container.frUrssafImageCommonsMaquette > #header.frUrssafImageCommonsMaquette > #menu a.firstrow {
	border-right: solid 1px cssMenuFirstRowFontColor;
}

#container.frUrssafImageCommonsMaquette > #header.frUrssafImageCommonsMaquette > #menu li a.selected {
    background: cssSelectedMenuBackgroundColor;
}

#container.frUrssafImageCommonsMaquette > #header.frUrssafImageCommonsMaquette > #menu li a:hover, #menu li a.active {
	background: cssInfoboxBackgroundColor;
}

#container.frUrssafImageCommonsMaquette > #header.frUrssafImageCommonsMaquette > #menu ul ul li {
	border-bottom: solid 1px #fff;
}

#container.frUrssafImageCommonsMaquette > #header.frUrssafImageCommonsMaquette > #menu ul ul {
    border: solid 1px #000;
}
