#container.frUrssafImage > #header.frUrssafImage > #menu a, #container.frUrssafImage > #header.frUrssafImage > #menu a.firstrow {
   	font: bold .75em arial, helvetica, sans-serif;
}

#container.frUrssafImage > #header.frUrssafImage > #menu a.firstrow {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

#container.frUrssafImage > #header.frUrssafImage > #menu li a {
	color: #EAEAEF;
	text-decoration: none;
}

#container.frUrssafImage > #header.frUrssafImage > #menu li a:hover, #container.frUrssafImage > #header.frUrssafImage > #menu li a.active {
	color: #051A7D;
}