#container.frUrssafImage > #header.frUrssafImage > #menu 
{
	clear: both;
	height: 21px;
	padding-left: 145px;
	padding-top:2px;
	background: #051A7D;
}

#container.frUrssafImage > #header.frUrssafImage > #menu ul 
{
    float: left;
	background: #051A7D;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 8em;
}

#container.frUrssafImage > #header.frUrssafImage > #menu a, #container.frUrssafImage > #header.frUrssafImage > #menu a.firstrow 
{
    display: block;
	margin: 0;
	padding:  2px 2px 2px 3px;
}

#container.frUrssafImage > #header.frUrssafImage > #menu a.firstrow 
{
	border-right: 1px solid #EAEAEF ;
}

#container.frUrssafImage > #header.frUrssafImage > #menu li a.selected 
{
    background: #05577D;
}

#container.frUrssafImage > #header.frUrssafImage > #menu li a:hover, #container.frUrssafImage > #header.frUrssafImage > #menu li a.active {
	background: #EAEAEF;
}

#container.frUrssafImage > #header.frUrssafImage > #menu li {
	position: relative;
	width: 100%;
}

#container.frUrssafImage > #header.frUrssafImage > #menu ul ul li {
	border-bottom: 1px solid #fff ;
}

#container.frUrssafImage > #header.frUrssafImage > #menu ul ul {
    display: none ;
    position: absolute;
    border: 1px solid black ;
}

#container.frUrssafImage > #header.frUrssafImage > #menu ul ul ul {
    display: none ;
	top: 0;
	left: 100%;
}
