#container.frUrssafImage > #header.frUrssafImage > #menu a.firstrow {
	color: cssMenuFirstRowFontColor;
}

#container.frUrssafImage > #header.frUrssafImage > #menu li a {
	color: cssMenuLinkFontColor;
}

#container.frUrssafImage > #header.frUrssafImage > #menu li a:hover, #container.frUrssafImage > #header.frUrssafImage > #menu li a.active {
	color: cssMenuLinkHoverFontColor;
}
