#container.frUrssafImageCommonsMaquette > #header.frUrssafImageCommonsMaquette > #menu a, #container.frUrssafImageCommonsMaquette > #header.frUrssafImageCommonsMaquette > #menu a.firstrow {
   	font: bold .75em arial, helvetica, sans-serif;
}

#container.frUrssafImageCommonsMaquette > #header.frUrssafImageCommonsMaquette > #menu a.firstrow {
/*	color: #fff; */
	text-transform: uppercase;
	text-align: center;
}

#container.frUrssafImageCommonsMaquette > #header.frUrssafImageCommonsMaquette > #menu li a {
/*	color: #EAEAEF; */
	text-decoration: none;
}

#container.frUrssafImageCommonsMaquette > #header.frUrssafImageCommonsMaquette > #menu li a:hover, #container.frUrssafImageCommonsMaquette > #header.frUrssafImageCommonsMaquette > #menu li a.active {
/*	color: #051A7D; */
}