/*!
 * Réécriture du reset d'extjs mais plus spécifiquement lié aux attributes selectors + dédié à la maquette
 */
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * div[id|='ext'], div[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * div[id|='x'], div[id|='x']
{
	text-align:left;
}
html[id|='ext'],
body[id|='ext'],
/*
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * div[id|='ext'], div[id|='ext'],
*/
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * div[id|='x'], div[id|='x'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * dl[id|='ext'], dl[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * dt[id|='ext'], dt[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * dd[id|='ext'], dd[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * ul[id|='ext'], ul[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * ol[id|='ext'], ol[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * li[id|='ext'], li[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h1[id|='ext'], h1[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h2[id|='ext'], h2[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h3[id|='ext'], h3[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h4[id|='ext'], h4[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h5[id|='ext'], h5[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h6[id|='ext'], h6[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * pre[id|='ext'], pre[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * form[id|='ext'], form[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * fieldset[id|='ext'], fieldset[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * input[id|='ext'], input[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * p[id|='ext'], p[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * blockquote[id|='ext'], blockquote[id|='ext'],
/*
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * th[id|='ext'], th[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * td[id|='ext'], td[id|='ext'],
*/
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * td[class|='x-btn'], td[class|='x-btn']
{margin:0;padding:0;}
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * img[id|='ext'], img[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * body[id|='ext'], body[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * html[id|='ext'], html[id|='ext']
{border:0;}
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * address[id|='ext'], address[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * caption[id|='ext'], caption[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * cite[id|='ext'], cite[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * code[id|='ext'], code[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * dfn[id|='ext'], dfn[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * em[id|='ext'], em[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * strong[id|='ext'], strong[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * th[id|='ext'], th[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * var[id|='ext'], var[id|='ext']
{font-style:normal;font-weight:normal;}
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * ol[id|='ext'], ol[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * ul[id|='ext'], ul[id|='ext']
{list-style:none;}
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * caption[id|='ext'], caption[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * th[id|='ext'], th[id|='ext']
{text-align:left;}
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h1[id|='ext'], h1[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h2[id|='ext'], h2[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h3[id|='ext'], h3[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h4[id|='ext'], h4[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h5[id|='ext'], h5[id|='ext'],
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * h6[id|='ext'], h6[id|='ext']
{font-size:100%;}
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * q[id|='ext']:before, q[id|='ext']:before,
#container.frUrssafImageCommonsMaquette > #content.frUrssafImageCommonsMaquette > * q[id|='ext']:after, q[id|='ext']:after
{content:'';}