<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="
		http://www.springframework.org/schema/beans	
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.0.xsd">


   <bean id="saeConfigResourceLoader"
      class="fr.urssaf.image.sae.services.executable.manager.SAEConfigResourceLoader">
      <constructor-arg ref="saeConfigResource" />
   </bean>

   <bean id="dfceConfigResource" factory-bean="saeConfigResourceLoader"
      factory-method="loadDFCEConfigResource" />


   <bean id="applicationProperties"
      class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
      <property name="locations">
         <array value-type="org.springframework.core.io.Resource">
            <ref bean="saeConfigResource" />
            <ref bean="dfceConfigResource" />
         </array>
      </property>
   </bean>

   <!-- configuration DFCE -->
   <import resource="applicationContext-storageConnectionParameter.xml" />

   <!-- configuration ECDE -->
   <bean id="ecdeSourceManager" class="fr.urssaf.image.sae.ecde.EcdeSourceManagerImpl" />
   <bean id="ecdeConfigFile" class="java.io.File">
      <constructor-arg value="${sae.ecde.cheminFichierConfig}" />
   </bean>
   <bean id="ecdeSources" factory-bean="ecdeSourceManager"
      factory-method="load">
      <constructor-arg ref="ecdeConfigFile" />
   </bean>

   <!--  importation des contextes -->
   <import resource="applicationContext-sae-services.xml" />
   <import resource="applicationContext-sae-storage-dfce.xml" />
   <import resource="applicationContext-sae-metadata.xml" />
   <import resource="applicationContext-sae-ecde.xml" />
   <import resource="applicationContext-sae-mapping.xml" />

   <!-- configuration JMX -->
   <import resource="applicationContext-sae-services-jmx.xml" />
   
   <!--  -->
    <bean id="captureMasseConfig"
      class="fr.urssaf.image.sae.storage.dfce.services.support.model.InterruptionTraitementConfig">
      <qualifier value="interruption_capture_masse" />
      <property name="start" value="${sae.archivagemasse.interruption.heure}" />
      <property name="delay" value="${sae.archivagemasse.interruption.delai}" />
      <property name="tentatives" value="${sae.archivagemasse.interruption.tentatives}" />
   </bean>

</beans>