<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<bean class="org.springframework.web.servlet.view.ResourceBundleViewResolver">
		<property name="basenames">
			<list>
				<value>view</value>
				<value>forward</value>
			</list>
		</property>
	</bean>

	<!-- les mappings de l'application-->
	<bean id="simpleMapping"
	   class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
	   <property name="mappings">
	      <props>
	         <!-- Exemple :  
	         <prop key="/parametre.do">parametreController</prop>
	         -->
	         <prop key="/exemple.do">exempleController</prop>
	      </props>
	   </property>
	</bean>

	
</beans>
