<?xml version="1.0" encoding="UTF-8"?>
<web-app
   xmlns="http://java.sun.com/xml/ns/j2ee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
   version="2.4">
  
	<display-name>Application Web</display-name>
	
	<!-- =============================== -->
	<!-- Intégration de la maquette IHM  -->
	<!-- =============================== -->
	
	<!-- Filtre du décorateur maquette IHM -->
	<filter>
      <filter-name>MaquetteFilter</filter-name>
      <filter-class>fr.urssaf.image.commons.maquette.MaquetteFilter</filter-class>
      <init-param>
         <param-name>excludeFiles</param-name>
         <param-value>/getResourceExtJs.do</param-value>
      </init-param>
      <init-param>
         <param-name>appTitle</param-name>
         <param-value>Maquette : Titre de l'application</param-value>
      </init-param>
      <init-param>
         <param-name>appCopyright</param-name>
         <param-value>Maquette : Copyright</param-value>
      </init-param>
      <init-param>
         <param-name>theme</param-name>
         <param-value>aed</param-value>
      </init-param>
      <!-- 
      <init-param>
         <param-name>implementationIMenu</param-name>
         <param-value>fr.urssaf.image.nomPackagePrincipal.menus.MenuImpl</param-value>
      </init-param>
      <init-param>
         <param-name>implementationILeftCol</param-name>
         <param-value>fr.urssaf.image.nomPackagePrincipal.boitesGauche.BoitesGauche</param-value>
      </init-param>
      -->
   </filter>
   
      
   <!-- Mapping du filtre du décorateur maquette IHM -->
   <filter-mapping>
      <filter-name>MaquetteFilter</filter-name>
      <url-pattern>*.do</url-pattern>
   </filter-mapping>
   <filter-mapping>
      <filter-name>MaquetteFilter</filter-name>
      <url-pattern>*.jsp</url-pattern>
   </filter-mapping>
   <filter-mapping>
      <filter-name>MaquetteFilter</filter-name>
      <url-pattern>*.htm</url-pattern>
   </filter-mapping>
   <filter-mapping>
      <filter-name>MaquetteFilter</filter-name>
      <url-pattern>*.html</url-pattern>
   </filter-mapping>
      
   
   <!-- Servlet nécessaire au filtre du décorateur maquette IHM -->
   <servlet>
      <description></description>
      <display-name>MaquetteServlet</display-name>
      <servlet-name>MaquetteServlet</servlet-name>
      <servlet-class>fr.urssaf.image.commons.maquette.MaquetteServlet</servlet-class>
   </servlet>
   
   
   <!-- Mapping du servlet nécessaire au filtre du décorateur maquette IHM -->
   <servlet-mapping>
      <servlet-name>MaquetteServlet</servlet-name>
      <url-pattern>/getResourceImageMaquette.do</url-pattern>
   </servlet-mapping>
   
   
   <!-- ======================================================================= -->
   <!-- Intégration de la fiche F008 : Développer une page web avec Spring MVC  -->
   <!-- ======================================================================= -->
   
   <!-- Contexte de l'application  -->
   <context-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:applicationContext.xml</param-value>
   </context-param>
   <listener>
      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
   </listener>
   
   <!-- la servlet -->
   <servlet>
      <servlet-name>spring</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>
   
   <!-- le mapping des url -->
   <servlet-mapping>
      <servlet-name>spring</servlet-name>
      <url-pattern>*.do</url-pattern>
   </servlet-mapping>

   <!-- index -->
   <welcome-file-list>
      <welcome-file>/view/index.jsp</welcome-file>
   </welcome-file-list>

   <!-- Le filtre d'encodage -->
   <filter>
      <filter-name>characterEncodingFilter</filter-name>
      <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
      <init-param>
         <param-name>encoding</param-name>
         <param-value>UTF-8</param-value>
      </init-param>
      <init-param>
         <param-name>forceEncoding</param-name>
         <param-value>true</param-value>
      </init-param>
   </filter>
   
   <!-- Redirection des erreurs -->
   <!--
   <error-page>
      <error-code>500</error-code>
      <location>/exception.do</location>
   </error-page>
   -->
   
   <!-- Durée de vie de la session, en minutes -->
   <session-config>
      <session-timeout>30</session-timeout> 
   </session-config>
   
   <!-- Servlet pour extjs -->
   <servlet>
      <description></description>
      <display-name>ExtJsServlet</display-name>
      <servlet-name>ExtJsServlet</servlet-name>
      <servlet-class>fr.urssaf.image.commons.controller.spring.servlet.ExtJsServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>ExtJsServlet</servlet-name>
      <url-pattern>/getResourceExtJs.getResourceExtJs</url-pattern>
   </servlet-mapping>
	
	
</web-app>


